body{
    background-color:#F6F5F5;
    margin:0px;
    padding:0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width:100%;
    height:95vh;
   background-color:#ffffff;
    background-repeat: no-repeat;
    background-size: cover;  
}

  .dropbtn {
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius:15px;
    display:right ;

    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #bae8e8;
  }
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #ffffff;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}
nav ul{
    display:flex;
}
.toggle{
    display:none;
}
nav ul li a{
    margin:30px;
    font-family:myraid pro regular;
    color:#505050;
    font-size:15px;
    font-weight:700;
}

   
.active{
    font-weight:bold;
    color:#2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight:bold;
    color:#6d6d6d;
    font-size:22px;  
}
.text-container p:nth-child(2){
    font-family:calibri;
    font-weight:bold;
    letter-spacing:1px;
    color:#1a1a1a;
    font-size:60px;
}
.text-container p:nth-child(3){
    font-family: myraid pro regular;
    color:#403e3e;
    font-size:30px;
    line-height:30px;
}

.text-container p{
    line-height:0px;
    margin:45px 0px 25px;
}
.text-container{
    position:absolute;
    left:13%;
    top:42%;
    transform:translate(-13%, -42%);
}
.text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family:calibri;
    font-weight:bold;
    font-size:14px;
    outline:none;
    margin:0px 10px;
}
.hire-btn{
    border:8px solid #373636;
    color:#373636;
    padding: 0.2rem;
}
.down-cv{
    background-color:blue;
    color:#ffffff;
    border:none;
    padding:.7rem;
    border-radius: 8px;

    
    
}
button:active{
    transform:scale(1.1);
    
}
.model{
    height: 550px;
    position:absolute;
    bottom:0px;
    left:80%;
    transform:translateX(-70%);
}
.about-container{
    width:100%;
    height:400px;
    background-color:#ffffff;
    border-radius:20px;
    box-shadow:2px 2px 12px blue;
    display:flex;
    margin:-7% auto 20px auto;
    position:relative;
    justify-content:space-evenly;
    align-items: center;
}
.about-container img{
    height:250px;
}
.about-text{
    width:550px;
}
.about-text p:nth-child(1){
    color:#403e3e;
    font-family:myraid pro;
    font-weight: bold;
    font-size: 23px;
    line-height:0px;
}
.about-text p:nth-child(2){
    color:#3e3d3d;
    font-family:myraid pro;
    font-weight: bold;
    font-size: 13px;
    line-height:5px;
}
.about-text p:nth-child(3){
    color:#7e7d7d;
    font-family:calibri;
    font-size:16px;
}
.about-text button{
    width:120px;
    height:40px;
    color:#ffffff;
    outline:none;
    border:none;
    font-family:calibri;
    background-color:blue;
    border-radius:5px;
}
.services{
    height:600px;
    background-color: #ffffff;
    padding:2% 10% 0% 10%;

}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight:bold;
    color:#3e3d3d;
    font-size:30px;
    line-height:0px;
}
.services-text p:nth-child(2){
    font-family:calibri;
    font-weight:bold;
    color:#3e3e3d;
    font-size:15px;
    line-height:5px;
}
.services-text p:nth-child(3){
    font-family:calibri;
    color:#7e7d7d;
    
}

.services-text{
    width:500px;
    margin:50px 0px;
}
.box-1,.box-2,.box-3{
    width:300px;
    height:320px;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 125px;
    Background-color:blue;

}
.box-container{
    display:flex;
    justify-content:space-between;
}

.box-1 span,
.box-2 span,
.box-3 span{
    width:40px;
    height:40px;
    border-radius:100%;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items:center; 
    font-family:calibri;
    font-weight:bold;

}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2),
.box-4 p:nth-child(2){
    color:#ffffff;
    font-family:calibri;
    font-size:23px;
    line-height:0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3),
.box-4 p:nth-child(3){
    font-family:calibri;
    text-align:center;
    width:230px;
    margin:0px 0px 20px 0px;
    color:#8f8f8f;

}

.box-1 button,
.box-2 button,
.box-3 button,
.box-4 button{
    width:100px;
    height:30px;
    background-color:#ffffff;
    border:none;
    outline:none;
    border-radius:5px;
}
.contact-me{
    width:100%;
    height:280px;
    background-color: coral;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;


}
.contact-me p{
    color:#121212;
    font-family:calibri;
    font-size:30px;
    font-weight:bold;
    border-bottom:2px solid #ffffff;


}
.contact-me button {
    width:200px;
    height:40px;
    background-color:#ffffff;
    outline:none;
    border: radius 0.5cm;
    font-size:14px;
    font-weight:bold;
}
footer{
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;

}
footer p{
    font-family:Calibri;
    
    

}
footer p:nth-child(1){
    font-size:30px;
    font-weight:bold;
    color:#191919;
    line-height:10px;
}
footer p:nth-child(2){
    font-size:16px;
    color:#7e7d7d;
    width:600px;
    text-align:center;
}
.social-icons a{
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#e6e3e3;
    margin:20px 10px;
    border-radius:50%;
 
}
.social-icons{
    display: flex;
}
.copyright{
    color:#565555;
    font-size:15px;
    position: absolute;
    left:50%;
    bottom:10px;
    transform:translateX(-50%);


}
.social-icons i{
    color:#000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color:#ffffff;
    transition: all ease 0.5s;
}
.a-social-b{
    position:fixed;
    top:50%;
    right:0px;
    transform: translateY(-50%);
}
.a-social-b a{
    display:flex;
    justify-content: center;
    align-items:center;
    width:50px;
    height:50px;
    padding:0px;
    margin:0px;
    line-height:0px;
    background-color:#ffffff;
    border:1px solid #cbcbcb;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
    color:#2b2b2b;
    font-size:20px;
}
@media(max-width:1000px){
    *{
        box-sizing:border-box;
    }
    .model{
        height:460px;
        left:100%;
        transform:translateX(-90%);
    }
    .text-container{
        top:46%;
    }
    .text-container button{
        margin:5px;

    }
    .about-container img{
        height:200px;

    }
    .about-text {
        width:400px;

    }
    .about-text p:nth-child(1){
        font-size:20px;

    }
    .about-text p:nth-child(2){
        font-size:10px;
    }
    .about-text p:nth-child(3),
    .about-text p:nth-child(4){
        font-size:14px;
    }
    .services{
        padding:2% 5% 0px 5%;
    }
    .box-container{
        justify-content:center;
        flex-wrap:wrap;
    }
    .services{
        height:auto;
    }
    .box-1,.box-2,.box-3{
        flex-grow:1;
        margin:10px;
    }
    .contact-me{
        height:200px;
    }
    .contact-me p{
        font-size:26px;
    }
    .contact-me button{
        font-size:14px;
        height:35px;
        width:160px;
    }
    @media(max-width:750px){
        section{
            background-image:none;
            background-color: #f7f7f7;
        }
        .model{
            display:none;
        }
        .toggle{
            display:block;
        }
        .text-container p:nth-child(2){
            line-height:40px;
            margin:0px;
            padding:0px;

            }
            .text-container{
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                width:80%;
            }
            nav ul{
                margin:0px;
                padding:0px;
                background-color:#ebeef4;
                flex-direction:column;
                position:fixed;
                left:0;
                top:0;
                width:100%;
                height:100vh;
                box-sizing:border-box;
                display:flex;
                justify-content: center;
                align-items:center;
                z-index:1;
                display:none;
            }
            nav ul li{
                padding:10px;

            }
            nav ul li a{
                font-family:calibri;
                font-size:1.4cm;
                text-transform:uppercase;
                color:#5c5c5c;
            }
            nav ul li a:hover{
                color:#121212;
            }
            
            nav.active ul{
                display:flex !important;
            }
            .about-container{
                top:0px;
                flex-direction: column;
                width:90%;
                height:auto;
                padding: 30px 0px;
                align-items:center;
            }
            .about-text{
                width:90%;
                text-align:center;
            }
            .services-text{
                width:100%;
            }
            .contact-me{
                height:180px;
            }
            .contact-me p{
                font-size:18px;
            }
            .contact-me button{
                width:150px;
                height:33px;
            }
            footer p:nth-child(2){
                width:90%;
            }

        }
    }
    
