*set the form to center*/
form{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-group{
    margin: 2%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
button {
      background-color:  #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: 10px;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      
      
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: pink;
    }